/* Background colors */

.background, #vboxLightTech, #vboxSoundTech, #arrButts, #vBoxTekniker, VBox, HBox, Anchorpane, #vboxArtists, #arrSplitPane {
    -fx-background-color: #444;
}

/* root fonts */
.root {
    -fx-font-family: "sans-serif";
    -fx-font-size: 16;
}
BorderPane {
    -fx-padding: 32;
}
Label, Button {
    -fx-text-fill: #fff;
}

ScrollPane {
    -fx-background-color:transparent;
}

#loginError {
    -fx-text-fill: #d12727
}

#title {
    -fx-font-size: 24;
}

Button {
    -fx-background-color: #b95c30;
    -fx-alignment: center;
}

#patientsContainer {
    -fx-spacing: 10;
}


#unhealthyRating {
    -fx-background-color: #8c2f2a;
}
#averageHealthRating{
    -fx-background-color: #b39b00;
}
#healthyRating {
    -fx-background-color: #1b8c0a;
}