/* Background colors */

.background, #vboxLightTech, #vboxSoundTech, #arrButts, #vBoxTekniker, VBox, HBox, Anchorpane, #vboxArtists, #arrSplitPane {
    -fx-background-color: #444;
}

/* root fonts */
.root {
    -fx-font-family: "sans-serif";
    -fx-font-size: 16;
    -fx-padding: 16;
}

Label, Button {
    -fx-text-fill: #fff;
}

#loginError {
    -fx-text-fill: #d12727
}

#title {
    -fx-font-size: 24;
}

Button {
    -fx-background-color: #b95c30;
    -fx-alignment: center;

}

#patientsContainer {
    -fx-spacing: 10;
}
